name: lighthouse-main
on:
  schedule:
    - cron: '*/5 * * * *'

jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      # - uses: ./.github/actions/lighthouse
      - name: echo something
        run: |
            echo hello world
        shell: bash
