name: lighthouse-branch
on:
  schedule:
    - cron: '*/5 * * * *'

jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - name: echo something
        run: |
            echo hello world
        shell: bash
